<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cpy2Usb.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Cpy2Usb.Properties.Settings>
      <setting name="VerifyFileChecksum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverwriteFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VerboseLogs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoEjectWhenFinished" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteUsbContents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StrictCopyDestinations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StrictCopyDestinationDrives" serializeAs="String">
        <value />
      </setting>
    </Cpy2Usb.Properties.Settings>
  </userSettings>
</configuration>